body {
    font-family: Arial, sans-serif;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: aquamarine;
    background-color: blue;
}

button {
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 55px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
ul li{
    text-decoration: none;
}

.completed {
    text-decoration: line-through;
}
.delete-button {
    
    color: rgb(143, 23, 23);
    border: none;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
}
